* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5f3f3;
    padding: 0.7rem;
    scroll-behavior: smooth;
    width: 100%;
    height: 100vh;
}

.header {
    background-color: #e0e0e0;
    font-weight: bold;
    font-size: 0.8rem;
    padding: 1rem 0.8rem 0.8rem;
}

.header p {
    margin-bottom: 1rem;
}

.form-container {
    background-color: rgb(250, 247, 247);
    font-size: x-small;
    padding: 0.8rem 0 0 0;
    box-shadow: 0 2px 0px  #cccccc;   
}

.form-container input {
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0.2px 0.2px 2px 0.2px rgb(73, 71, 71);
    padding: 0.2rem 0.7rem;
    font-size: x-small;
    outline: none;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.form-container input:invalid {
    border: 1px solid rgb(248, 44, 44);
 }

.form-container input:hover {
    background-color: rgb(233, 252, 233);
    box-shadow: 1px 1px 3px 0.6px rgb(142, 212, 142);
    color: black;
}

.form-container input::placeholder {
    font-size: x-small;
}

.form-container label, .login {
    margin-bottom: 2px;
    font: x-small;
    font-weight: 600;
}
.form-contents div {
    margin-bottom: 0.5rem;
}

.form_row {
    display: flex;
    flex-direction: column;
}

.btn {
    border: 0;
    border-radius: 7px;
    background-color: rgb(30, 160, 30);
    color: white;
    margin-bottom: 10px;
    padding: 0.6rem 1.5rem;
    transition: background-color 0.2s;
}

.btn:hover {
    background-color: green;
}

.login-title {
    color: green;
    text-decoration: none;
}